body{
    font-family: 'Roboto', sans-serif;
    background-color: #3b3636;
}

/* navbar css starts here  */
.bg-light{
    background-color: #1b1a1a!important;
}

.navbar-brand{
    font-family:'Noto Sans JP', sans-serif ;
    font-size: 1.5rem;
    color: #edf1f6!important;
}

.nav-link{
    color: #ebeef3!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #985a5a;
}
/* navbar css ends here  */

.my-info{
    padding:  2rem 5rem;
}
h2,h4{
    color:rgb(0, 0, 0);
    font-size: 35px;
}
.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(121, 179, 233)!important;
    color: #2a2525!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(236, 237, 246)!important;
}
